.competitions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  &__search {
    display: grid;
    grid-template-areas:
      'input button'
      'message message'
      'toggle toggle';

    grid-template-columns: min-content min-content;
    justify-content: center;
    padding-top: 20px;
  }

  &__input {
    grid-area: input;
  }

  &__button {
    grid-area: button;
    margin-left: 5px;
  }

  &__message {
    grid-area: message;

    ion-text {
      display: block;
    }
  }

  &__toggle {
    grid-area: toggle;
  }

  &__table {
    padding-top: 10px;
  }
}
