<app-header [title]="'Competitions'"></app-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="competitions">
    <ion-card>
      <ion-card-content>
        <form
          id="search-form"
          [formGroup]="searchFG"
          (ngSubmit)="onSearchFormSubmit()"
          class="competitions__search"
        >
          <input
            id="seasonYear"
            placeholder="Season year - e.g. 2021"
            formControlName="seasonYear"
            maxlength="4"
            class="competitions__input"
          />
          <ion-button type="submit" class="competitions__button"
            >Search</ion-button
          >
          <div
            *ngIf="seasonYear.invalid && (seasonYear.dirty || seasonYear.touched)"
            class="competitions__message"
          >
            <ion-text color="danger" *ngIf="seasonYear.errors?.['minlength']">
              <ion-icon name="warning-outline"></ion-icon>
              Season year must be at least 4 characters long
            </ion-text>
            <ion-text color="danger" *ngIf="seasonYear.errors?.['pattern']">
              <ion-icon name="warning-outline"></ion-icon>
              Season year must contain only numbers
            </ion-text>
          </div>
          <ion-item lines="none" class="competitions__toggle">
            <ion-label>Show free tier data</ion-label>
            <ion-toggle
              (ionChange)="onToggleChange($event)"
              color="primary"
            ></ion-toggle>
          </ion-item>
        </form>
        <div class="competitions__table">
          <ion-card-header>
            <ion-card-subtitle>
              {{ 'Select a competition to see its teams' }}
            </ion-card-subtitle>
          </ion-card-header>
          <app-competitions-table
            [loading]="loading"
            [competitions]="competitions$ | async"
          ></app-competitions-table>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
