<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="showBackButton; else showMenuButton"
      ></ion-back-button>
      <ng-template #showMenuButton>
        <ion-menu-button></ion-menu-button>
      </ng-template>
    </ion-buttons>
    <ion-title> {{ title }} </ion-title>
  </ion-toolbar>
</ion-header>
