<app-header [title]="'Teams'" [showBackButton]="true"></app-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="teams">
    <ion-spinner *ngIf="loading" class="teams__spinner"></ion-spinner>
    <ion-text *ngIf="restrictedResourceError; else showTable" color="danger">
      {{'The resource you are looking for is restricted for the free tier,
      please try with a different one'}}
    </ion-text>
    <ng-template #showTable>
      <ng-container *ngIf="(teams$ | async) as teams">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              {{ 'Select a team to see its detail' }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <app-teams-table [teams]="teams"></app-teams-table>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-template>
  </div>
</ion-content>
