@import 'theme';

.team-detail {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  &__info-card {
    ion-label {
      display: block;
      font-weight: bold;
      margin-right: 10px;
    }
  }

  &__spinner {
    align-self: center;
  }
}

@include rd-tablet {
  .team-detail {
    align-items: center;

    &__info-card {
      ion-card-content {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 50px;
        justify-content: center;
      }
    }
  }
}
