<app-header [title]="'Team detail'" [showBackButton]="true"></app-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="team-detail">
    <ion-spinner *ngIf="loading" class="team-detail__spinner"></ion-spinner>
    <div *ngIf="(teamDetail$ | async) as teamDetail">
      <ion-card class="team-detail__info-card">
        <ion-card-content>
          <div>
            <ion-label color="dark">Name</ion-label>
            <ion-text>
              <h2>{{teamDetail.name}}</h2>
            </ion-text>
          </div>
          <div>
            <ion-label color="dark">Country</ion-label>
            <ion-text>
              <h2>{{teamDetail.country}}</h2>
            </ion-text>
          </div>
          <div>
            <ion-label color="dark">Club colors</ion-label>
            <ion-text>
              <h2>{{teamDetail.clubColors}}</h2>
            </ion-text>
          </div>
          <div>
            <ion-label color="dark">Address</ion-label>
            <ion-text>
              <h2>{{teamDetail.address}}</h2>
            </ion-text>
          </div>
          <div>
            <ion-label color="dark">Website</ion-label>
            <ion-text>
              <h2>{{teamDetail.website}}</h2>
            </ion-text>
          </div>
          <div>
            <ion-label color="dark">Founded</ion-label>
            <ion-text>
              <h2>{{teamDetail.founded}}</h2>
            </ion-text>
          </div>
          <div>
            <ion-label color="dark">Venue</ion-label>
            <ion-text>
              <h2>{{teamDetail.venue}}</h2>
            </ion-text>
          </div>
          <div>
            <ion-label color="dark">Id</ion-label>
            <ion-text>
              <h2>{{teamDetail.id}}</h2>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <app-team-members-table
            [teamMembers]="teamDetail.members"
          ></app-team-members-table>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
