<div class="table-container">
  <ion-spinner *ngIf="loading; else showTable"></ion-spinner>
  <ng-template #showTable>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-small">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th *ngFor="let header of headers" scope="col">
              {{ header.label }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let i = index" (click)="onRowClick(row)">
            <th scope="row">{{ i + 1 }}</th>
            <td *ngFor="let header of headers">
              {{ row[header.key] }}
            </td>
          </tr>
          <tr *ngIf="rows?.length === 0">
            <td [attr.colspan]="headers.length + 1">
              {{ 'No data found' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
