<ion-app>
  <ion-menu side="start" menuId="side-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'" [routerLink]="'/home'">
            <ion-icon slot="start" [name]="'home-outline'"></ion-icon>
            <ion-label> Home </ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/competitions'">
            <ion-icon slot="start" [name]="'trophy-outline'"></ion-icon>
            <ion-label> Competitions </ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/extra'">
            <ion-icon slot="start" [name]="'add-outline'"></ion-icon>
            <ion-label> Extra </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
