@import 'theme';

.home {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  h2 {
    padding-top: 20px;
  }

  a {
    text-decoration: none;
  }

  &__subtitle {
    padding-top: 20px;
    font-size: 22px;
  }

  &__list,
  &__header,
  &__features {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 10px;
  }

  &__list {
    ion-label {
      display: block;
      margin-left: 10px;
    }
  }

  &__features {
    div {
      margin-bottom: 10px;
    }

    ion-label {
      display: block;
      font-weight: bold;
    }
  }

  &__link {
    cursor: pointer;
  }
}

@include rd-tablet {
  .home {
    align-items: center;

    &__list,
    &__header,
    &__features {
      grid-template-columns: 250px 250px;
    }
  }
}
