<app-header [title]="'Home'"></app-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="home">
    <ion-card>
      <ion-card-content>
        <ion-text>
          <h1>Ionic Angular challenge</h1>
        </ion-text>
        <div class="home__header">
          <a href="https://gitlab.com/galvarin91/ionic-angular-challenge"
            ><h2>Repository here!</h2>
          </a>
          <a
            href="https://gitlab.com/galvarin91/ionic-angular-challenge/-/pipelines"
          >
            <h2>CI/CD pipeline here!</h2>
          </a>
        </div>
        <a
          href="https://gitlab.com/galvarin91/ionic-angular-challenge/-/blob/master/README.md"
          ><h2>
            Check readme for project structure fundamentals and other info
          </h2>
        </a>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text>
          <div class="home__subtitle">Stack</div>
        </ion-text>
        <ion-list lines="none" class="home__list">
          <ion-item *ngFor="let item of stackList">
            <ion-icon size="small" name="thumbs-up-outline"></ion-icon>
            <ion-label>{{item}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text>
          <div class="home__subtitle">Features</div>
        </ion-text>
        <ion-list lines="none" class="home__features">
          <div *ngFor="let item of featureList">
            <ion-label color="dark">{{item.title}}</ion-label>
            <ion-text>{{item.description}}</ion-text>
          </div>
        </ion-list>
        <ion-text
          color="primary"
          [routerLink]="'/competitions'"
          class="home__link"
        >
          Go to competitions
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
