$rd-tablet-width: 768px;
$rd-desktop-width: 1366px;

@mixin rd-tablet {
    @media all and (min-width: $rd-tablet-width) {
        @content;
    }
}

@mixin rd-desktop {
    @media all and (min-width: $rd-desktop-width) {
        @content;
    }
}

@mixin rd-mobile-until {
    @media all and (max-width: $rd-tablet-width - 1) {
        @content;
    }
}

@mixin rd-tablet-until {
    @media all and (max-width: $rd-desktop-width - 1) {
        @content;
    }
}

@mixin rd-tablet-only {
    @media all and (min-width: $rd-tablet-width) and (max-width: $rd-desktop-width - 1) {
        @content;
    }
}
